
.env
.env.local
.env.production
.env.testing
.env.backup
.DS_Store
Thumbs.db
.idea/
.vscode/
.fleet/
.zed/
/vendor
composer.lock
.phpunit.result.cache
.phpactor.json
/.phpunit.cache
/node_modules
npm-debug.log
yarn-error.log
/public/build
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage/pail
/bootstrap/cache
Homestead.json
Homestead.yaml
/.nova
/auth.json
